[submodule "tools"]
	path = tools
	url = https://github.com/trojanfoe/xcodedevtools
[submodule "BuildSystem/XcodeProjects/tools"]
	path = BuildSystem/XcodeProjects/tools
	url = https://github.com/trojanfoe/xcodedevtools
