BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/gocam.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libamd.2.4.6.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libaom.3.1.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libavcodec.58.134.100.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libavformat.58.76.100.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libavresample.4.0.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libavutil.56.70.100.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libbluray.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libcamd.2.4.6.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libccolamd.2.9.6.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libceres.2.0.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libcholmod.3.0.14.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libcolamd.2.9.6.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libcrypto.1.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libcxsparse.3.2.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libdav1d.5.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libdouble-conversion.3.1.5.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libffi.7.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libfontconfig.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libfreetype.6.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libgcc_s.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libgflags.2.2.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libgfortran.5.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libgif.7.2.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libGLEW.2.2.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libglib-2.0.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libglog.0.5.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libgmp.10.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libgnutls.30.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libgomp.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libgraphite2.3.2.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libharfbuzz.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libhogweed.6.4.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libidn2.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libintl.8.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libjpeg.9.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libjsoncpp.24.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/liblept.5.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/liblz4.1.9.3.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/liblzma.5.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libmetis.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libmp3lame.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libnettle.8.4.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libogg.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopenblasp-r0.3.15.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencore-amrnb.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencore-amrwb.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_alphamat.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_aruco.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_bgsegm.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_bioinspired.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_calib3d.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_ccalib.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_core.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_datasets.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_dnn.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_dnn_objdetect.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_dnn_superres.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_dpm.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_face.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_features2d.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_flann.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_freetype.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_fuzzy.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_gapi.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_hfs.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_highgui.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_img_hash.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_imgcodecs.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_imgproc.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_intensity_transform.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_line_descriptor.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_mcc.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_ml.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_objdetect.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_optflow.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_phase_unwrapping.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_photo.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_plot.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_quality.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_rapid.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_reg.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_rgbd.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_saliency.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_sfm.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_shape.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_stereo.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_stitching.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_structured_light.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_superres.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_surface_matching.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_text.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_tracking.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_video.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_videoio.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_videostab.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_viz.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_wechat_qrcode.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_xfeatures2d.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_ximgproc.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_xobjdetect.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopencv_xphoto.4.5.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopenjp2.2.4.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libopus.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libp11-kit.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libpcre.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libpng16.16.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libprotobuf.28.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libquadmath.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/librav1e.0.4.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libSDL-1.2.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libsnappy.1.1.9.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libsodium.23.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libsoxr.0.1.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libspeex.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libspqr.2.0.9.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libsrt.1.4.3.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libssl.1.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libsuitesparseconfig.5.10.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libswresample.3.9.100.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libswscale.5.9.100.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libtasn1.6.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libtbb.12.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libtesseract.4.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libtheoradec.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libtheoraenc.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libtiff.5.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libunistring.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvorbis.0.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvorbisenc.2.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonColor-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonComputationalGeometry-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonCore-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonDataModel-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonExecutionModel-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonMath-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonMisc-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonSystem-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkCommonTransforms-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkDICOMParser-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersCore-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersExtraction-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersGeneral-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersGeometry-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersHybrid-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersModeling-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersSources-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersStatistics-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkFiltersTexture-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkfreetype-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkImagingCore-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkImagingFourier-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkImagingSources-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkInteractionStyle-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkIOCore-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkIOExport-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkIOGeometry-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkIOImage-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkIOLegacy-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkIOPLY-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkIOXML-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkIOXMLParser-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtklibharu-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkloguru-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkmetaio-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkParallelCore-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkParallelDIY-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkRenderingContext2D-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkRenderingCore-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkRenderingFreeType-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkRenderingLOD-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkRenderingOpenGL2-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkRenderingSceneGraph-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkRenderingUI-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtkRenderingVtkJS-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libvtksys-9.0.9.0.1.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libwebp.7.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libwebpmux.3.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libx264.161.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libx264.163.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libx265.199.dylib
BuildResults/Debug/root/Library/CoreMediaIO/Plug-Ins/FCP-DAL/QuickomCamera.plugin/Contents/libs/libzmq.5.dylib
