[submodule "tools"]
	path = tools
	url = https://github.com/trojanfoe/xcodedevtools
[submodule "BuildSystem/XcodeProjects/tool."]
	path = BuildSystem/XcodeProjects/tool.
	url = https://github.com/trojanfoe/xcodedevtools
